<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <!-- <style> -->
    <!--     body { -->
    <!--         display: flex; -->
    <!--         justify-content: center; -->
    <!--         align-items: center; -->
    <!--         /* height: 100vh; */ -->
    <!--         margin: 0; -->
    <!--         font-size: 24px; -->
    <!--     } -->
    <!-- </style> -->
</head>
<body text="#ffffff" style="background-color:rgb(53, 101, 77);">
    <div id="resets">
        <input type="text" id="num_players" name="num_players" placeholder="Number of Players">
        <input type="text" id="hand_size" name="hand_size" placeholder="Number of Starting Cards">
        <button id="reset_button">RESET</button>
        <button id="round_reset_button">ROUND RESET</button>
    </div>

    <!-- to be populated from the javascript -->
    <div id="role">
        <select id="role_dropdown">
            <!-- <option value="role_unassigned">Unassigned</option>
            <option value="role_moderator">Moderator</option> -->
        </select>
    </div>

    <p id="game_winner"></p>
    <p id="round_winner"></p>

    <div id="state"></div>

    <div id="correction">
        <select id="player_dropdown">
        </select>

        <select id="card_dropdown">
        </select>

        <select id="card_color_dropdown">
            <option value="None">N/A</option>
            <option value="RED">RED</option>
            <option value="YELLOW">YELLOW</option>
            <option value="GREEN">GREEN</option>
            <option value="BLUE">BLUE</option>
        </select>

        <select id="card_type_dropdown">
            <option value="PlusFour">+4</option>
            <option value="Wild">Wild Card</option>
            <option value="Skip">Skip</option>
            <option value="Reverse">Reverse</option>
            <option value="PlusTwo">+2</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select>

        <button id="submit_correction">CORRECT STATE</button>

    </div>


    <script type="text/javascript" charset="utf-8">
        var socket = io();
        var images = {};
        var role = null;
        var most_recent_state = null;

        const state_div = document.getElementById('state');
        
        function render_state(state) {
            most_recent_state = state;

            // populate the role buttons
            const role_dropdown = document.getElementById("role_dropdown");

            role_dropdown.innerHTML = '';

            const unassigned = document.createElement("option");
            unassigned.value = 'role_unassigned';
            unassigned.text = 'Unassigned';
            role_dropdown.append(unassigned);

            const moderator = document.createElement("option");
            moderator.value = 'role_moderator';
            moderator.text = 'Moderator';
            role_dropdown.append(moderator);

            for (const player of state.players) {
                const player_element = document.createElement("option");
                player_element.value = player.position.toString();
                player_element.text = player.name;
                role_dropdown.append(player_element);
            }




            // clear the divs
            state_div.innerHTML = "";

            const deckColor = document.createElement('div');
            deckColor.innerHTML = `<p><strong>Deck Color: ${state.color}</strong></p>`;
            state_div.appendChild(deckColor);

            // add the top card
            const topCard = document.createElement('img');
            topCard.src = 'data:image/jpeg;base64,';

            if (state.discard_pile.cards.length > 0) {
                topCard.src += images[state.discard_pile.cards[state.discard_pile.cards.length - 1].image_name];
            } else {
                topCard.src += images["card_back.png"];
            }

            topCard.style.width = "100px";
            topCard.style.height = "auto";
            state_div.appendChild(topCard);


            for (const player of state.players) {
                const playerDiv = document.createElement('div');

                playerDiv.className = 'card';

                if (state.turn === player.position) {
                    playerDiv.style.backgroundColor = "#15453d";
                    playerDiv.innerHTML = `
                        <p><u><strong>${player.name}; Score: ${player.score}</strong></u></p>
                    `;
                } else {
                    playerDiv.innerHTML = `
                        <p><strong>${player.name}; Score: ${player.score}</strong></p>
                    `;
                }

                for (const card of player.hand) {
                    var img = document.createElement('img');
                    if (role === 'role_moderator' || role === player.position.toString()) {
                        img.src = 'data:image/jpeg;base64,' + images[card.image_name];
                    } else {
                        img.src = 'data:image/jpeg;base64,' + images['card_back.png'];
                    }
                    img.style.width = "100px";
                    img.style.height = "auto";
                    playerDiv.appendChild(img);
                }

                state_div.appendChild(playerDiv);
            }
            
            state_div.style.alignContent = "center";

            // populate the state correction dropdowns

            // players cards
            const player_dropdown = document.getElementById("player_dropdown");

            player_dropdown.innerHTML = '';

            const top_card = document.createElement("option");
            top_card.value = 'top_card';
            top_card.text = 'Top Card';
            player_dropdown.append(top_card);

            for (const [position, player] of state.players.entries()) {
                const player_option = document.createElement("option");
                player_option.value = position;
                player_option.text = player.name;
                player_dropdown.append(player_option);
            }
        }

        // print state
        socket.on("new_state", render_state);


        // load and cache the images sent on the socket
        socket.on("get_images", function(received_images) {
            for (const image of received_images) {
                images[image.image_name] = image.img;
            }
        });
        
        socket.on("game_over", function(winning_player) {
            // console.log(winning_player);
            document.getElementById("game_winner").innerText = winning_player.winning_player.name + " has won the game! Their final score is " + winning_player.winning_player.score + " points!";
        });
        socket.on("round_over", function(winning_player) {
            // console.log(winning_player);
            document.getElementById("round_winner").innerText = winning_player.winning_player.name + " has won the round! Their current score total is " + winning_player.winning_player.score + " points!";
        });

        document.getElementById("reset_button").addEventListener("click", function() {
            socket.emit("website_reset", {"num_players": document.getElementById("num_players").value,
                                     "hand_size": document.getElementById("hand_size").value});
        });

        document.getElementById("round_reset_button").addEventListener("click", function() {
            socket.emit("website_round_reset", "");
        });


        // handle role selection
        var role_dropdown = document.getElementById("role_dropdown");

        // Add event listener to detect changes in the dropdown
        role_dropdown.addEventListener("change", function() {
            // Get the selected value
            role = role_dropdown.value;
            render_state(most_recent_state);
        });

        // handle player selection
        var player_dropdown = document.getElementById("player_dropdown");

        // Add event listener to detect changes in the player dropdown
        player_dropdown.addEventListener("change", function() {
            // Get the selected value
            position = player_dropdown.value;

            // update the card selection dropdown
            var card_dropdown = document.getElementById("card_dropdown");
            card_dropdown.innerHTML = ``;

            const player = most_recent_state.players[position];

            for (const [card_idx, card] of player.hand.entries()) {
                const card_option = document.createElement("option");
                if (card.type === 'Number') {
                    var card_name = card.color + ' ' + card.number;
                } else if (card.type == 'Wild' || card.type == 'PlusFour') {
                    var card_name = card.type;
                } else {
                    var card_name = card.color + ' ' + card.type;
                }
                card_option.value = card_idx; // UPDATE TO INDEX?
                card_option.text = card_name;
                card_dropdown.append(card_option);
            }

        });

        document.getElementById("submit_correction").addEventListener("click", function() {
            const data = {
                "position": document.getElementById("player_dropdown").value,
                "card_idx": document.getElementById("card_dropdown").value,
                "type": document.getElementById("card_type_dropdown").value,
                "color": document.getElementById("card_color_dropdown").value
            }
            socket.emit("website_state_correction", data);
        });

    </script>
</body>
